@charset "utf-8";

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background-image: url(../images/backgroundstoredirectory.jpg);
	background-repeat: no-repeat;
}
p {
	text-decoration: none;
	text-align: justify;
}


#container {
	padding: 0px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
}
#header {
	clear: both;
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	border-width: 0px;
	border-style: solid;
	width: 990px;
}
#banner {
	height: 80px;
	width: 274px;
	border-width: 0px;
	border-style: solid;
	margin: 0px;
	padding: 10px;
}

#menu   
 {
	width: 985px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	height: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 10px;
}
#menu ul {
	margin: 0px;
	padding: 0px;
}


#menu ul li {
	background: linear-gradient(to top, #000000 0%, #222222 50%, #3c3c3c 51%, #393939 78%, #888888 100%) repeat scroll 0 0 rgba(1, 1, 1, 1);
	float: left;
	border: 1px solid #ccc;
	list-style-type: none;
	position: relative;
}

#menu ul  ul {
	position: absolute;
	visibility: hidden;
	top: 31px;
}

#menu ul li ul li a:hover {
	background-color: #069;
}

#menu ul li:hover {
	background: linear-gradient(to top, #0e1dc1 0%, #2b3cf0 50%, #5b68f3 51%, #5663f3 78%, #eaebfd 100%) repeat scroll 0 0 rgba(0, 0, 0, 0);
	
	z-index: 99;
}

#menu ul li a {
	font-family: Helvetica,Arial,sans-serif;
	font-size: 12px;
	line-height: 30px;
	color: #FFF;
	text-decoration: none;
	text-align: center;
	display: block;
	height: 30px;
	width: 138px;
}

#menu ul li:hover ul {
	visibility: visible;
}
#menu ul li:hover {
	background-color: #333;
	color: #0ff;
}

#maincontent    
 {
	height: auto;
	margin-right: auto;
	margin-left: auto;
	width: 990px;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
}
#aboutus {
	font-size: 16px;
	height: 208px;
	width: 920px;
	border-width: 0px;
	border-style: solid;
	color: rgba(0,0,0,0.9);
	text-align: justify;
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
}
.h3 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: rgba(42,0,0,1);
	font-weight: normal;
}
h1,h2,h3,h4,h5,h6 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
h3 {
	font-size: 24px;
	font-weight: bold;
	font-variant: normal;
	color: rgba(42,191,0,1);
	line-height: 18px;
	padding-top: 0px;
}

#topslider {
	width: 918px;
	height: 430px;
	border-width: 0px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
	
#topslider1 {
	width: 918px;
	height: 1141px;
	border-width: 0px;
	border-style: solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 50px;
}
	
#bottom {
	height: 663;
	width: 990px;
	display:block;
	position:relative;
	margin-left:auto;
	margin-right:auto;
	padding-top: 5px;
	}
	
#bottomslider {
	height: 348px;
	width: 908px;
	position: absolute;
	margin-left: 35px;
	margin-top: 50px;
}

#next {
	background-image: url(../images/arrowright.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:22px;
	height:32px;
	float:right;
	position:relative;
	z-index:99;
	cursor:pointer;
	display:block;
	margin-top: 80px;
}



#prev {
	background-image: url(../images/arrowleft.png);
	background-repeat: no-repeat;
	background-position: center center;
	width:22px;
	height:32px;
	float:left;
	position:relative;
	z-index:99;
	cursor:pointer;
	display:block;
	margin-top: 80px;
}

.desc {
	width:909px;
	height:20px;
	display:block;
	position:absolute;
	padding: 0px;
	margin-top: 280px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}


#footer   
 {
	height: 100px;
	margin-right: auto;
	margin-left: auto;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	color: rgba(42,255,255,1);
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	padding-top: 250px;
	width: 1007px;
}
#bottomnav1 {
	height: 15px;
	width: 400px;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-decoration: none;
	word-spacing: 0.5em;
	float: left;
	padding-top: 15px;
}

#nav {
	font-family: Arial, Helvetica, sans-serif;
	
	height: 50px;
	width: 918px;
	padding: 0px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
}

#nav a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:rgba(42,63,255,1);
	text-decoration: none;
}

#nav a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color:rgba(42,63,255,1);
	text-decoration: none;
}

#nav a:hover {
	font-weight: normal;
	color:rgba(170,0,0,1);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
	background-color: rgba(0,255,0,1);
}

#bottomnav1 a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}


#bottomnav1 a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-decoration: none;
}

#bottomnav1 a:hover {
	font-weight: normal;
	color: rgba(0,255,0,1);
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-decoration: none;
}

#bottomnav2 {
	height: 30px;
	width: 400px;
	margin-left: 15px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: rgba(255,255,255,0.9);
	text-decoration: none;
	word-spacing: 0.5em;
	float: right;
	margin-top: 10px;
}

#bottomnav3 {
	background-color: rgba(170,0,0,1);
	height: 40px;
	width: 267px;
	margin-left: 17px;
	margin-top: 5px;
	padding-top: 25px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#copyright {
	color: rgba(255,255,255,0.8);
	background-color: rgba(170,0,0,1);
	width: 331px;
	margin-left: 15px;
	padding: 0px;
	height: 10px;
}
.features {
	font-size: 16px;
	height: 90px;
	width: 500px;
	float: left;
}
.features1 {
	float: right;
	width: 400px;
	height: 90px;
}
#feat {
	font-size: 16px;
	height: 120px;
	width: 920px;
	margin-left: 40px;
}
#transporthub {
	font-size: 16px;
	height: 180px;
	width: 920px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 40px;
	float: none;
}
